<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Student</title>
</head>
<Script>
    var data = {"name":"khanh"}
</Script>
<body>
     <form action="/doInsert" method="post">
        {{name}} <input type="text" name="txtName" id="">
        <br>
    </form>
    <form action="/edit" method="put">
        <input type="submit" value="Edit" >
    </form>
</body>
</html>
